:root {
    --background: #f5f5f5;
    --border-radius: 10px;
    --drop-shadow: 0px 2px 4px rgba(0,0,0,.1);
}

.word-types, .cefr-levels {
    font-weight: bold;
    display: flex;
    justify-content: center;
    width: 355px;
}

.word-types button, .cefr-levels button {
    flex-grow: 1;
    margin: 5px;
}


.container {
    width: 800px;
    margin:0 auto;
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    padding: 1.5em;
    border-radius: var(--border-radius);
    display:flex;
    flex-direction: column;
    align-items:center;
    box-shadow : var(--drop-shadow);
}

.word-types{
    font-weight: bold;
    display:flex;
    justify-content:center;
}

.wiggle {
    animation: wiggle 0.5s; /* this will apply the wiggle animation to the container */
}

@keyframes wiggle {
    0% { transform: rotate(-0.5deg); }
    25% { transform: rotate(0.5deg); }
    50% { transform: rotate(-0.5deg); }
    75% { transform: rotate(0.5deg); }
    100% { transform: rotate(-0.5deg); }
    75% { transform: rotate(0.5deg); }
    50% { transform: rotate(-0.5deg); }
    25% { transform: rotate(0.5deg); }
    0% { transform: rotate(-0.5deg); }
}

.kader {
    width: 85px;
    height: 85px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    margin: 60px 30px;
    position: absolute;
    animation-name: wiggle;
    animation-duration: 0.25s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(0.68,-0.55,0.265,1.55);
}

/* Add to your styles.css file */
.input-display {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.input-letter,
.input-underline {
    font-size: 24px;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-inline: 0.1em;
    font-family: monospace;
    color:white;
    text-transform: uppercase;
}

input-letter:disabled{
    font-weight: bold;
    color: red;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400% 400%;
}

.input-container {
    margin-top: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rainbow {
    background: linear-gradient(45deg, #f90000, #ff8c00, #ffd700, #008000);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbow 1s ease-in-out infinite;
    transform: scale(1.5);
}

@keyframes rainbow {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 400%;
    }
}



.button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 385px;
}

.hints-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;

}

.hints-example {
    font-weight:bold ;
    margin-top :20px ;
    display :flex ;
    flex-wrap :wrap ;
    flex-direction :column ;
    align-items :center ;
    border-radius :.3em ;
    padding :10px ;
    background-color :whitesmoke ;
}

.hints-example p {
    width: 300px;
    margin: 10px;
    border-radius: 0.3em;
    border: 2px solid black;
    padding: 10px;
    text-align: center;
}


.hints-definition {
    font-weight:bold ;
    margin-top :20px ;
    display :flex ;
    flex-wrap :wrap ;
    flex-direction :column ;
    align-items :center ;
    border-radius :.3em ;
    padding :10px ;
    background-color :whitesmoke ;
}

.hints-definition p {
    width: 300px;
    margin: 10px;
    border-radius: 0.3em;
    border: 2px solid black;
    padding: 10px;
    text-align: center;
}

.hints-button {
    position:relative;
    font-weight: bold;
    margin: 10px; /* this will create some space between the buttons */
    border-radius: 0.3em; /* this will make the button edges round */
    padding: 6px;
    text-transform: uppercase;
    font-size: 13px;
    text-align: center;
    height:  fit-content;
    min-height: 55px;
    cursor: pointer;
    opacity: 1;
    color: black;
    background-color: #a2f9ff;
    border-color: black;
    border-style: solid;
    border-width: 0.1px;
    transition: all 0.3s ease;
}

.hints-button:hover {
    transform: scale(1.05);
    cursor: default;
 }

.hints-button:disabled {
    cursor: default;
    opacity: 0.4;
}

.party {
    animation: party 1s infinite; /* this will apply the party animation to the buttons */
}

.btn {
    position:relative;
    font-weight: bold;
    margin: 10px; /* this will create some space between the buttons */
    border-radius: 0.3em; /* this will make the button edges round */
    padding: 6px;
    text-transform: uppercase;
    font-size: 13px;
    text-align: center;
    height: 35px;
    border: none;
    cursor: pointer;
    opacity: 1;
    color: black;
    background-color: whitesmoke;
    transition: all 0.3s ease;
}

.btn:hover {
    transform: scale(1.05);
    cursor: default;
 }

.btn:disabled {
    cursor: default;
    opacity: 0.4;
}
.input {
    width: 355px;
    text-align: center;
    border-radius: 0.3em;
    border: none;
    padding: 6px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    color: black;
    display: block;
}


.input:disabled{
    font-weight: bold;
    color: black;
    background: linear-gradient(45deg, white, white, white, white, #f90000, #ff8c00, #ffd700, #008000);
    background-size: 400% 400%;
    animation: flow 5s;
}

@keyframes flow {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
        background-color: white;
    }
}

.input:focus {
    outline: none;
}

.input:disabled::placeholder {
    color: rgba(255,255,255,0.6);
    mix-blend-mode: difference;
}

.input:focus {
    outline: none;
}

.header-title {
    font-weight: bold;
    color: white;
    text-align: center;
    font-family: monospace;
    font-size: xxx-large;
}

.points {
    font-weight: bold;
    color: white;
    text-align: center;
    font-family: monospace;
    text-transform: Uppercase;
    font-size: 20px;
}

.info {
    font-weight: bold;
    color: white;
    text-align: center;
    font-family: monospace;
    text-transform: Uppercase;
    font-size: 15px;
    width: 120px;
}

.h2 {
    font-weight: bold;
    color: white;
    text-align: center;
    font-family: monospace;
    font-size: xxx-large;
}

.error-text {
    font-weight: bold;
    color: indianred;
    text-align: center;
    font-family: monospace;
    font-size: 15px;
    background-color: #ffffff;
    border: 2px solid indianred;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 355px;
}

.error-text::before {
    content: "⚠️ ";
    font-size: 20px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.error-text::after {
    content: "⚠️ ";
    font-size: 20px;
    margin-bottom: 5px;
    margin-left: 5px;
}


