:root {
    --background: #f5f5f5;
    --border-radius: 10px;
    --drop-shadow: 0px 2px 4px rgba(0,0,0,.1);
}

.container {
    max-width:800px;
    margin:0 auto;
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    padding: 1.5em;
    border-radius: var(--border-radius);
    display:flex;
    flex-direction: column;
    align-items:center;
    box-shadow : var(--drop-shadow);
}

.word-types{
    font-weight: bold;
    display:flex;
    justify-content:center;
}

.wiggle {
    animation: wiggle 0.5s; /* this will apply the wiggle animation to the container */
}

@keyframes wiggle {
    0% { transform: rotate(-1deg); }
    25% { transform: rotate(1deg); }
    50% { transform: rotate(-1deg); }
    75% { transform: rotate(1deg); }
    100% { transform: rotate(-1deg); }
    75% { transform: rotate(1deg); }
    50% { transform: rotate(-1deg); }
    25% { transform: rotate(1deg); }
    0% { transform: rotate(-1deg); }
}

.input-container{
    margin-top:20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.hints-container {
    font-weight:bold ;
    margin-top :20px ;
    display :flex ;
    flex-wrap :wrap ;
    flex-direction :column ;
    align-items :center ;
    border-radius :.3em ;
    padding :10px ;
    background-color :whitesmoke ;
}

.hints-container p {
    width: 300px;
    margin: 10px;
    border-radius: 0.3em;
    border: 2px solid black;
    padding: 10px;
    text-align: center;
}

.party {
    animation: party 1s infinite; /* this will apply the party animation to the buttons */
}

.btn {
    position:relative;
    font-weight: bold;
    margin: 10px; /* this will create some space between the buttons */
    border-radius: 0.3em; /* this will make the button edges round */
    padding: 6px;
    text-transform: uppercase;
    font-size: 13px;
    text-align: center;
    height: 35px;
    border: none;
    cursor: pointer;
    opacity: 1;
    color: black;
    background-color: whitesmoke;
    transition: all 0.3s ease;
}

.btn:hover {
    transform: scale(1.05);
    cursor: default;
 }

.btn:disabled {
    cursor: default;
    opacity: 0.4;
}

.input {
    width: 300px;
    text-align: center;
    border-radius: 0.3em; /* this will make the input edges round */
    border: none; /* this will remove the default border of the input */
    padding: 6px; /* this will create some space inside the input */
    text-transform: uppercase; /* this will make the input text uppercase */
    font-size: 13px; /* this will match the font size of the buttons */
    background-color: whitesmoke; /* this will match the background color of the buttons */
    font-weight: bold;
}

.input:focus {
    outline: none;
}
